catkin_pkg==0.5.2
matplotlib==3.5.3
numpy==1.19.5
open3d==0.17.0
opencv_python==4.8.0.74
pandas==1.3.5
pyquaternion==0.9.9
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.7.3
tensorflow_gpu==2.4.0
tqdm==4.64.1


nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91

nvidia-cudnn-cu11==8.6.0.163
